name: Build bpftrace Android (APT Nix)

on:
  push:
    branches: [ "main", "master", "android-build" ]
  workflow_dispatch:

jobs:
  build-static:
    runs-on: ubuntu-24.04-arm # Runner ARM
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Để Nix lấy đúng git version

      - name: Install Nix (via APT)
        run: |
          sudo apt-get update
          sudo apt-get install -y nix-bin
          
          # QUAN TRỌNG: Cấp quyền cho user hiện tại ghi vào /nix
          # Nếu không có dòng này, lệnh nix build sẽ lỗi "permission denied"
          sudo mkdir -p /nix
          sudo chown -R $USER /nix

          # Cấu hình tối thiểu để chạy Flakes
          mkdir -p ~/.config/nix
          echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf

      - name: Build Static bpftrace
        run: |
          # Lệnh 1 dòng như bạn yêu cầu
          # Lưu ý: Mình đã thêm cấu hình vào file conf ở trên nên lệnh này gọn hơn
          nix build .?submodules=1# --print-build-logs

      - name: Check Artifact
        run: |
          # Kiểm tra xem file có đúng chuẩn Android (static + arm64) không
          file result/bin/bpftrace

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bpftrace-android-arm64
          path: result/bin/bpftrace
