name: Build bpftrace Android

on:
  push:
    branches: [ "main", "master", "android-build" ]

jobs:
  build:
    runs-on: ubuntu-24.04-arm # Runner ARM
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Không cần submodules: recursive ở đây nữa vì Nix sẽ tự lo
        # Nhưng cần fetch-depth: 0 để Nix lấy đúng git revision
        with:
          fetch-depth: 0 

      - name: Install Nix
        uses: determinateSystems/nix-installer-action@v16
        with:
          determinate: false # Tắt cái xác thực FlakeHub phiền phức

      - name: Build
        run: |
          # Lệnh chuẩn bạn vừa đưa
          nix build .?submodules=1# --extra-experimental-features "nix-command flakes" --print-build-logs

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bpftrace-android-arm64
          # Lưu ý: lấy file trong thư mục result/bin/
          path: result/bin/bpftrace
