name: Build bpftrace Android (Nix Static)

on:
  push:
    branches: [ "main", "master", "android-build" ]

jobs:
  build:
    runs-on: ubuntu-24.04-arm # Chạy trên ARM
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # Lấy source code bpftrace đầy đủ

      - name: Install Nix
        uses: actions/install-nix@v1 # Hoặc dùng bản determinateSystems nếu muốn
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build Static
        run: |
          # --impure là bắt buộc để cho phép config 'unsupported'
          nix build .#default --impure --print-build-logs

      - name: Verify & Rename
        run: |
          cp -L result/bin/bpftrace ./bpftrace-android-arm64
          chmod +x ./bpftrace-android-arm64
          
          echo "Checking binary:"
          file ./bpftrace-android-arm64
          # Nó phải hiện: statically linked

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bpftrace-android-arm64
          path: ./bpftrace-android-arm64
