name: Build bpftrace Official (Nix)

on:
  push:
    branches: [ "main", "master", "android-build" ]
  workflow_dispatch:

jobs:
  build-official:
    runs-on: ubuntu-24.04-arm # Chạy trên ARM
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Bắt buộc phải lấy recursive để có đầy đủ code con (libbpf, bcc...)
          submodules: recursive 
          fetch-depth: 0

      - name: Install Nix
        uses: actions/install-nix@v1
        with:
          # Dùng kênh unstable để có bộ build mới nhất
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build with Nix
        run: |
          # Lệnh chuẩn để build từ flake gốc kèm submodules
          nix build .?submodules=1# --extra-experimental-features "nix-command flakes" --print-build-logs

      - name: Check Binary Type
        run: |
          # Kiểm tra xem nó là Static (chạy được Android) hay Dynamic (chỉ chạy Linux thường)
          echo "Checking binary info:"
          file result/bin/bpftrace
          
          # Nếu kết quả là "dynamically linked", khả năng cao sẽ không chạy được trên Android.

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bpftrace-official-arm64
          path: result/bin/bpftrace
